* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.header {
    background-color: #a6c8ff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.content {
    background-color: #e0e0e0;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}

.sign-up {
    background-color: #78ff78;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.feature {
    background-color: #f5b971;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .feature {
        flex: 1 1 calc(100%/3 - 10px);
    }

    .sign-up {
        width: 100%;
        order: 2;
    }

    .content {
        order: 3;
    }
}

@media screen and (max-width: 1199px) {
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .sign-up {
        grid-column: 1;
        grid-row: 1;
    }

    .feature-1 {
        grid-column: 2;
        grid-row: 1;
    }

    .feature-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .feature-3 {
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: column;
    }

    .feature,.sign-up {
        width: 100%;
    }
}
